<h1 class="text-center m-5">Editing Address</h1>

<%= render 'form', address: @address %>

<div class="text-center">
<%= link_to 'Show', @address, class:"btn btn-secondary" %>
<%= link_to 'Back', addresses_path, class:"btn btn-dark" %>
</div>
